<a href="https://colab.research.google.com/github/SudharsanSrinivasan14/Python-Programs/blob/main/Python_50_Programs_2_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1 . python function to calc. the factorial of a number(non negative integer) :
def factorial (n):
    if n==0:
        return 1
    else:
        return n*factorial(n-1)
n=int(input('number:'))
print(factorial(n))

number:5
120

In [ ]:
# 2 . Map function: smaller to upper case animal names :
animals = ['dogs','cats', 'lion','cow']
name=list(map(lambda animals: animals.upper(),animals))
print(name)

['DOGS', 'CATS', 'LION', 'COW']

In [ ]:
# 3 . Greater than 10 Filter function :
lists=[12,3,4,5,6,65,43,55,21,7,54]
ab=list(filter(lambda lists:lists>10,lists))
print(ab)

[12, 65, 43, 55, 21, 54]

In [ ]:
# 4 . Multiply with 10 and convert with tuple :
lst=[1,2,3,4,5]
mul=list(map(lambda mul: mul*10,lst))
print('List :')
print(mul)
print('Tuple :')
print(tuple(mul))

List :
[10, 20, 30, 40, 50]
Tuple :
(10, 20, 30, 40, 50)

In [ ]:
# 5 . Python program to print the square of a number in the list using list comprehension :
lst=[1,2,3,4,5]
lst_comp=[x**2 for x in lst]
print(lst_comp)

[1, 4, 9, 16, 25]

In [ ]:
# 6 . Python program to print the square of a number in the list using lambda function :
lst1=list(map(lambda lst:(lst**2),lst))
print(lst1)

[1, 4, 9, 16, 25]

In [ ]:
# 7 . Def Sqr a Number :
def sqr(a):
    print(a*a)
a=int(input('Give a Number : '))
sqr(a)

Give a Number : 5
25

In [ ]:
# 8 . Def . Biggest 4 Num :
def big_4_num(a,b,c,d):
    if (a>b and a>c and a>d):
        print("A is big")
    elif (b>a and b>c and b>d):
        print("B is big")
    elif (c>a and c>b and c>d):
        print("C is big")
    else:
        print("D is big")
a=int(input('Give A Number : '))
b=int(input('Give B Number : '))
c=int(input('Give C Number : '))
d=int(input('Give D Number : '))
big_4_num(a,b,c,d)

Give A Number : 20
Give B Number : 34
Give C Number : 55
Give D Number : 13
C is big

In [ ]:
# 9 . Generate a list of all the even numbers b/w 4 to 30 :
l=[]
for i in range (4,31,2):
    l.append(i)
print (l)

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [ ]:
# 10 . Find the largest item in the list (User Input Values):
num=int(input('Give a list count : '))
l=[]
for i in range (0,n):
  num=int(input('Give a numbers : '))
  l.append(num)
print(max(l))

Give a list count : 5
Give a numbers : 12
Give a numbers : 13
Give a numbers : 55
Give a numbers : 12
Give a numbers : 24
55

In [ ]:
423# 11 . Def .Python functions to multiply all the numbers in a list (User Input Values):
n=int(input('Give a list count : '))
l=[]
for i in range (0,n):
    num=int(input('Give a numbers : '))
    l.append(num)
def multiply (l):
        total=1
        for x in l:
            total=total*x
        return total
print(l)
print(multiply(l))

Give a list count : 5
Give a numbers : 12
Give a numbers : 13
Give a numbers : 1
Give a numbers : 2
Give a numbers : 3
[12, 13, 1, 2, 3]
936

In [ ]:
# 12 . Def . Python function to check whether a number falls within a given range:
def test_range (n):
  a=int(input('Give Start Range : '))
  b=int(input('Give End Range : '))
  if n in range (a,b):
    print('With in range')
  else:
    print('Outside in range')
n=int(input('Give a Number : '))
test_range(n)

Give a Number : 3
Give Start Range : 1
Give End Range : 10
With in range

In [ ]:
# 13 . Def . Sin Values :
def sin(b,h):
    sin=(b/h)
    return(sin)
b=int(input('Give b value : '))
h=int(input('Give h value : '))
sin(b,h)

Give b value : 5
Give h value : 4

1.25

In [ ]:
# 14 . Sin Values using Lambda :
sin=lambda b,h:b/h
b=int(input('Give b value : '))
h=int(input('Give h value : '))
print(sin(b,h))

Give b value : 5
Give h value : 4
1.25

In [ ]:
# 15 . A^2 + B^2 + 2(AB) using Lambda :
ab=lambda a,b: (a*a)+(b*b)+(2*a*b)
a=int(input('Give a value : '))
b=int(input('Give b value : '))
print(ab(a,b))

Give a value : 2
Give b value : 3
25

In [ ]:
# 16 . multiply with all list vaues using Lambda :
n=int(input('Give a list count : '))
s=[]
for i in range (0,n):
    num=int(input('Give a numbers : '))
    s.append(num)
mul = int(input('Give a Multiplying Value : '))
sn=list(map(lambda s:(s*mul),s))
print(s)
print(sn)

Give a list count : 5
Give a numbers : 1
Give a numbers : 3
Give a numbers : 5
Give a numbers : 4
Give a numbers : 2
Give a Multiplying Value : 2
[1, 3, 5, 4, 2]
[2, 6, 10, 8, 4]

In [ ]:
# 17 . multiply with Odd values in list using Lambda :
n=int(input('Give a list count : '))
s=[]
for i in range (0,n):
    num=int(input('Give a numbers : '))
    s.append(num)
mul = int(input('Give a Multiplying Value : '))
sn=list(filter(lambda s:((s%2!=0)*mul),s))
print(s)
print(sn)

Give a list count : 5
Give a numbers : 1
Give a numbers : 2
Give a numbers : 3
Give a numbers : 4
Give a numbers : 5
Give a Multiplying Value : 2
[1, 2, 3, 4, 5]
[1, 3, 5]

In [ ]:
# 18 . Give names in list and convert upper case using Lambda :
n=int(input('Give a list count : '))
name=[]
for i in range (0,n):
    nme=str(input('Give names : '))
    name.append(nme)
na=list(filter(lambda name: name.upper(),name))
print(name)
print(na)

Give a list count : 3
Give names : sudhan
Give names : siva
Give names : anu
['sudhan', 'siva', 'anu']
['sudhan', 'siva', 'anu']

In [ ]:
# 19 .  Remove name in the Given names in list using Lambda :
name=['sudhan', 'anu', 'banu', 'siva']
na=list(filter(lambda name: (name=='sudhan'),name))
print(na)

['sudhan']

In [ ]:
# 20 . Def . BMI Calc.
def bmi(w,h):
    bmi=w/h**2
    print(bmi)

    if(bmi==0 and bmi<18.5):
        print("Under weight")
    elif(bmi>18.4 and bmi<23):
        print("Normal weight")
    elif(bmi>23 and bmi<25):
        print("Over weight")
    elif(bmi>25 and bmi<29.9):
        print("Obese 1")
    else:
        print("Obese 2")

w=float(input("Weight"))
h=float(input("Height"))
bmi(w,h)

Weight70
Height3
7.777777777777778
Obese 2

In [ ]:
# 21 . Find a grades with User input :
tamil=int(input('Tamil : '))
english=int(input('English : '))
maths=int(input('Maths : '))
tot=(tamil+english+maths)
avg=tot/3
print ('Average is ',avg)
if (avg>90):
    print('Distinction')
elif(avg>80 and avg <=90):
    print('Fist Class with Dist.')
elif (avg>60 and avg <=80):
    print('First class')
else:
    print('Fail')

Tamil : 77
English : 69
Maths : 89
Average is  78.33333333333333
First class

In [ ]:
# 22 . n'th steps calc. in between the A and B range :
a=int(input('a : '))
b=int(input('b : '))
n=int(input('n : '))
for i in range (a,b,n):
    print(i)
else:
    print('Steps Over')

a : 0
b : 10
n : 2
0
2
4
6
8
Steps Over

In [ ]:
# 23 . Eligible for Voting
name=str(input('Give Your Name : '))
a=int(input('Give Your Age : '))
if(a>=18):
    print(name,"You're Eligible")
else:
    print(name,"You're uneligible")

Give Your Name : Sudhan
Give Your Age : 28
Sudhan You're Eligible

In [ ]:
# 24 . Def . Eligible for Voting
def voting (a):
    if(a>=18):
        print(name,"You're Eligible")
    else:
        print(name,"You're uneligible")
name=str(input('Give Your Name : '))
a=int(input('Give Your Age : '))
voting (a)

Give Your Name : Sudhan
Give Your Age : 28
Sudhan You're Eligible

In [ ]:
# 25 . Break - While Loop:
a=int(input('Give Range : '))
b=int(input('Give Terminate Value : '))
c=0
while (c<=a):
    print(c)
    c+=1
    if (c==b):
        break
print ('Loop Terminated')

Give Range : 5
Give Terminate Value : 3
0
1
2
Loop Terminated

In [ ]:
# 26 . Break - For Loop:
a=int(input('Give Start Range : '))
b=int(input('Give End Range : '))
c=int(input('Give Terminate Value : '))
for i in range (a,b):
    if (i==c):
        break
        print ('Loop Terminated')
    print(i)

Give Start Range : 1
Give End Range : 6
Give Terminate Value : 3
1
2

In [ ]:
# 27 . Continue - While Loop:
a=int(input('Give Range : '))
b=int(input('Give Terminate Value : '))
c=0
while (c<=a):
    print(c)
    c+=1
    if (c==b):
        print ('Current Loop Terminated')
        continue

Give Range : 6
Give Terminate Value : 3
0
1
2
Current Loop Terminated
3
4
5
6

In [ ]:
# 28 . Continue - For Loop:
a=int(input('Give Start Range : '))
b=int(input('Give End Range : '))
c=int(input('Give Terminate Value : '))
for i in range (a,b):
    if (i==c):
        print ('Current Loop Terminated')
        continue
    print(i)

Give Start Range : 1
Give End Range : 6
Give Terminate Value : 3
1
2
Current Loop Terminated
4
5

In [ ]:
# 29 . Continue divisible by 5 - For Loop:
a=int(input('Give Start Range : '))
b=int(input('Give End Range : '))
for i in range (a,b):
    if (i%5==0):
        print ('Current Loop Terminated')
        continue
    print(i)

Give Start Range : 1
Give End Range : 20
1
2
3
4
Current Loop Terminated
6
7
8
9
Current Loop Terminated
11
12
13
14
Current Loop Terminated
16
17
18
19

In [ ]:
# 30 . Sum of ODD num using While loop:
a=int(input('Give Range : '))
c=1
sum1=0
while(c<=a):
    if(c%2!=0):
        sum1=sum1+c
    c+=1
print(sum1)

Give Range : 10
25

In [ ]:
# 31 . Counting vowels in given word
vowel=['a','e','i','o','u']
word=str(input('Give a word : '))
count=0
for character in word:
    if character in vowel:
        count+=1
print(count)

Give a word : sudharsan
3

In [ ]:
# 32 . Give (User Input) List and square the values using Lambda :
a=int(input('Give List Count : '))
l=[]
for i in range (0,a):
    num=int(input('Give Value : '))
    l.append(num)
print(l)
x=list(map(lambda l:l**2,l))
print('Square Values : ',x)

Give List Count : 5
Give Value : 1
Give Value : 2
Give Value : 3
Give Value : 4
Give Value : 5
[1, 2, 3, 4, 5]
Square Values :  [1, 4, 9, 16, 25]

In [ ]:
# 33 . Give (User Input) List and view Odd values using Lambda MAP :
a=int(input('Give List Count : '))
l=[]
for i in range (0,a):
    num=int(input('Give Value : '))
    l.append(num)
print(l)
x=list(map(lambda l:(l%2!=0),l))
print(x)

Give List Count : 5
Give Value : 1
Give Value : 2
Give Value : 3
Give Value : 4
Give Value : 5
[1, 2, 3, 4, 5]
[True, False, True, False, True]

In [ ]:
# 34 . Give (User Input) List and view Odd values using Lambda FILTER :
a=int(input('Give List Count : '))
l=[]
for i in range (0,a):
    num=int(input('Give Value : '))
    l.append(num)
print(l)
x=list(filter(lambda l:(l%2!=0),l))
print('Odd Values :',x)

Give List Count : 5
Give Value : 1
Give Value : 2
Give Value : 3
Give Value : 4
Give Value : 5
[1, 2, 3, 4, 5]
Odd Values : [1, 3, 5]

In [ ]:
# 35 . Membership Operators:
a=str(input('Give a Word : '))
let=str(input('Give a Letter : '))
print(let in a)

Give a Word : sudharsan
Give a Letter : u
True

In [ ]:
# 36 . Pattern
n=int(input('Give Value : '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(' * ', end=" ")
  print()
for i in range(n-1,0,-1):
  for j in range(i,0,-1):
    print(' * ', end=" ")
  print()

Give Value : 5
 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *

In [ ]:
# 37 . Pattern
n=int(input('Give Value : '))
for i in range(1,n+1):
  for j in range(1,i+1):
    print(' * ', end=" ")
  print()

Give Value : 5
 *
 *   *
 *   *   *
 *   *   *   *
 *   *   *   *   *

In [ ]:
# 38 . Pattern
n=int(input('Give Value : '))
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(' * ', end=" ")
  print()

Give Value : 5
 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *

In [ ]:
# 39 . Pattern
n=int(input('Give Value : '))
a=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(a, end=" ")
  print()
  a+=1

Give Value : 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
# 40 . Pattern
n=int(input('Give Value : '))
a=n
for i in range(n,0,-1):
  for j in range(i,0,-1):
    print(a, end=" ")
  print()
  a-=1

Give Value : 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# 41 . Pattern
n=int(input('Give Value : '))
a=1
for i in range(1,n+1):
  for j in range(1,i+1):
    print(a, end=" ")
  print()
  a+=1
a=n-1
for i in range(n-1,0,-1):
  for j in range(i,0,-1):
    print(a, end=" ")
  print()
  a-=1

Give Value : 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [ ]:
# 42 . Pattern
a=int(input('Give Value : '))
for i in range (a,0,-1):
    for j in range (i,0,-1):
        print(' * ',end=" ")
    print()

Give Value : 5
 *   *   *   *   *
 *   *   *   *
 *   *   *
 *   *
 *

In [ ]:
# 43 . Pattern
n=int(input('Give Value : '))
for i in range (n):
    print(' ' * (n-i-1) + ' * ' * (i+1))
for i in range (n-1):
    print(' ' * (i+1) + ' * ' * (n-i-1))

Give Value : 5
     *
    *  *
   *  *  *
  *  *  *  *
 *  *  *  *  *
  *  *  *  *
   *  *  *
    *  *
     *

In [ ]:
# 44 . Pattern
n=int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print("*",end=" ")
    print()
for i in range(n-1,0,-1):
    for j in range(i,0,-1):
        print("*",end=" ")
    print()

3
*
* *
* * *
* *
*

In [ ]:
# 45 . Pattern
n=int(input())
a=1
for i in range(1,n+1):
    for j in range(1,i+1):
        print(a,end=" ")
    print()
    a=a+1
a=n-1
for i in range(n-1,0,-1):
    for j in range(i,0,-1):
        print(a,end=" ")
    print()
    a=a-1

3
1
2 2
3 3 3
2 2
1

In [ ]:
# 46 . Lambda with if:
a=int(input('Give A Value : '))
b=int(input('Give B Value : '))
big=lambda a,b: a if (a>b) else b
print(big(a,b))

Give A Value : 10
Give B Value : 9
10

In [ ]:
# 47 . Age>18 Lambda:
n=int(input('Give Count : '))
l=[]
for i in range (1,n+1):
  num=int(input('Give Value : '))
  l.append(num)
print(l)
age=l
ages=list(filter(lambda age : age>18,age))
ages

Give Count : 5
Give Value : 12
Give Value : 33
Give Value : 42
Give Value : 11
Give Value : 7
[12, 33, 42, 11, 7]

[33, 42]

In [ ]:
# 48 . Import Random Number :
import random
x=int(input('Give a X value : '))
y=int(input('Give a Y value : '))
print (random.randrange(x,y))

Give a X value : 14
Give a Y value : 45
17

In [ ]:
# 49 . Today :
import datetime
x=datetime.datetime.now()
print('Today in Full Form :')
print(x.strftime('%A'))
print('Today in Short Form :')
print(x.strftime('%a'))
print('Days of Month (0 to 31) :')
print(x.strftime('%d'))

Today in Full Form :
Tuesday
Today in Short Form :
Tue
Days of Month (0 to 31) :
16

In [ ]:
# 50 . Week And Day Count :
import datetime
x=datetime.datetime.now()
print('Day no.of the week ((0 to 6) - 0 is sunday) :')
print(x.strftime('%w'))
print('Week no. of the Year :')
print(x.strftime('%W'))

Day no.of the week ((0 to 6) - 0 is sunday) :
2
Week no. of the Year :
03

In [ ]:
# 51 . Month :
import datetime
x=datetime.datetime.now()
print('Month in Full Form :')
print(x.strftime('%B'))
print('Month in Short Form :')
print(x.strftime('%b'))
print('Month Number :')
print(x.strftime('%m'))

Month in Full Form :
January
Month in Short Form :
Jan
Month Number :
01

In [ ]:
# 52 . Year :
import datetime
x=datetime.datetime.now()
print('Year in Full Form :')
print(x.strftime('%Y'))
print('Year in Short Form :')
print(x.strftime('%y'))

Year in Full Form :
2024
Year in Short Form :
24

In [ ]:
# 53 . Time :
import datetime
x=datetime.datetime.now()
print('Local version of Date and Time :')
print(x.strftime('%c'))
print('Local version of Date :')
print(x.strftime('%x'))

Local version of Date and Time :
Tue Jan 16 04:39:13 2024
Local version of Date :
01/16/24

In [ ]:
# 54 . Def . Avg Marks :
def marks(a,b,c,d=50):
    avg=(a+b+c+d)/4
    print(avg)
a=int(input('Give a Marks : '))
b=int(input('Give a Marks : '))
c=int(input('Give a Marks : '))
marks(a,b,c)

Give a Marks : 70
Give a Marks : 89
Give a Marks : 90
74.75

In [ ]:
# 55 . Ticket Booking
print('\t\t\t   Welcome to Sudhan Travels \t\t\t')
print('\t\t PUNCTUAL ... CLEAN ... COMFORTABLE \t\t\t')
name=str(input('Give your name : '))
print('\nYour user name is', name)
print('\t\t\tTicket Booking\t\t\t')
print('\n\t\t\tBoarding Point : Tiruchirapalli\t\t\t')
print('\t\t\tDropping Point : Chennai\t\t\t')
print('\n\t\t   Please Select Options')
s=print('\n\t\t\t 1. Train \n\t\t\t 2. Bus \n\t\t\t 3. Flight')

cho=int(input('\nWhat would you like to travel on...(1,2 or 3) : '))
if(cho==1):
    print('\n\t\t   Tain Ticket ')
    D=int(input('Please Select Date : '))
    M=int(input('Please Select Your Month : '))
    Y=int(input('Please Select Your Year : '))
    print('Your Date Is, ',D,'/',M,'/',Y)
    print('\n\t\t   Please Select Options')
    c=print('\n\t\t\t 1. 3A \n\t\t\t 2. 2A \n\t\t\t 3. SL')
    cho1=int(input('\nWhat would you like to travel on...(1,2 or 3) : '))
    if (cho1==1):
        print('\nTicket Price rs.1105/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*1105) + (mem*(1105*0.05))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'11:30 pm')
        print('Ticket price of ',mem,'is : ',tot ,'(inclusive of GST 5%)' )
        print('\n\t\t   Thank You for booking train ticket with Sudhan Travels... ')
    elif (cho1==2):
        print('\nTicket Price rs.1405/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*1405) + (mem*(1405*0.05))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'11:30 pm')
        print('Ticket price of ',mem,'is : ',tot ,'(inclusive of GST 5%)' )
        print('\n\t\t   Thank You for booking train ticket with Sudhan Travels... ')
    elif (cho1==3):
        print('\nTicket Price rs.407/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*407) + (mem*(407*0.05))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'11:30 pm')
        print('Ticket price of ',mem,'is : ',tot ,'(inclusive of GST 5%)' )
        print('\n\t\t   Thank You for booking train ticket with Sudhan Travels... ')
    else:
        print('\n\t\t   choose correct Option and try again... ')
elif(cho==2):
    print('\n\t\t   Bus Ticket ')
    D=int(input('Please Select Date : '))
    M=int(input('Please Select Your Month : '))
    Y=int(input('Please Select Your Year : '))
    print('Your Date Is, ',D,'/',M,'/',Y)
    print('\n\t\t   Please Select Options')
    c=print('\n\t\t\t 1. Double SL \n\t\t\t 2. Single SL \n\t\t\t 3. Seat')
    cho2=int(input('\nWhat would you like to travel on...(1,2 or 3) : '))
    if (cho2==1):
        print('\nBus Price rs.700/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*700) + (mem*(700*0.035))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'10:30 pm')
        print('Ticket price of ',mem,'is : ',tot ,'(inclusive of GST 3.5%)' )
        print('\n\t\t   Thank You for booking Bus ticket with Sudhan Travels... ')
    elif (cho2==2):
        print('\nBus Price rs.650/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*650) + (mem*(650*0.035))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'10:30 pm')
        print('Ticket price of ',mem,'is : ',tot ,'(inclusive of GST 3.5%)' )
        print('\n\t\t   Thank You for booking Bus ticket with Sudhan Travels... ')
    elif (cho2==3):
        print('\nBus Price rs.290/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*290) + (mem*(290*0.035))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'10:30 pm')
        print('Ticket price of ',mem,'is : ',tot ,'(inclusive of GST 3.5%)' )
        print('\n\t\t   Thank You for booking Bus ticket with Sudhan Travels... ')
    else:
        print('\n\t\t   choose correct Option and try again... ')
elif(cho==3):
    print('\n\t\t   Flight Ticket ')
    D=int(input('Please Select Date : '))
    M=int(input('Please Select Your Month : '))
    Y=int(input('Please Select Your Year : '))
    print('Your Date Is, ',D,'/',M,'/',Y)
    print('\n\t\t   Please Select Options')
    c=print('\n\t\t\t 1. Economy \n\t\t\t 2. Premium Economy \n\t\t\t 3. Business')
    cho3=int(input('\nWhat would you like to travel on...(1,2 or 3) : '))
    if (cho3==1):
        print('\nFlight Price rs.2543/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*2543) + (mem*(2543*0.065))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'6:20 pm')
        print('Ticket Economy price of ',mem,'is : ',tot ,'(inclusive of GST 6.5%)' )
        print('***Check-in-Bag 15kg   Hand Bag 7kg***')
        print('\n\t\t   Thank You for booking Flight ticket with Sudhan Travels... ')
    elif (cho3==2):
        print('\nFlight Premium Economy Price rs.3627/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*3627) + (mem*(3627*0.065))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'6:20 pm')
        print('Ticket price of ',mem,'is : ',tot ,'(inclusive of GST 6.5%)' )
        print('***Check-in-Bag 20kg   Hand Bag 7kg***')
        print('\n\t\t   Thank You for booking Flight ticket with Sudhan Travels... ')
    elif (cho3==3):
        print('\nFlight Business Price rs.7443/head')
        mem=int(input('Please Select Members Count : '))
        tot= (mem*7443) + (mem*(7443*0.065))
        print('\nTiruchirapalli to Chennai :',D,'/',M,'/',Y,'6:20 pm')
        print('Ticket price of ',mem,'is : ',tot ,'(inclusive of GST 6.5%)' )
        print('***Check-in-Bag 25kg   Hand Bag 10kg***')
        print('\n\t\t   Thank You for booking Flight ticket with Sudhan Travels... ')
    else:
        print('\n\t\t   choose correct Option and try again... ')
else:
        print('\n\t\t   choose correct Option and try again... ')

			   Welcome to Sudhan Travels
		 PUNCTUAL ... CLEAN ... COMFORTABLE
Give your name : Sudharsan

Your user name is Sudharsan
			Ticket Booking

			Boarding Point : Tiruchirapalli
			Dropping Point : Chennai

		   Please Select Options

			 1. Train
			 2. Bus
			 3. Flight

What would you like to travel on...(1,2 or 3) : 3

		   Flight Ticket
Please Select Date : 14
Please Select Your Month : 06
Please Select Your Year : 2024
Your Date Is,  14 / 6 / 2024

		   Please Select Options

			 1. Economy
			 2. Premium Economy
			 3. Business

What would you like to travel on...(1,2 or 3) : 3

Flight Business Price rs.7443/head
Please Select Members Count : 1

Tiruchirapalli to Chennai : 14 / 6 / 2024 6:20 pm
Ticket price of  1 is :  7926.795 (inclusive of GST 6.5%)
***Check-in-Bag 25kg   Hand Bag 10kg***

		   Thank You for booking Flight ticket with Sudhan Travels...

In [ ]:
# 56 . Movie Ticket Bookings
print('\t\t\t Welcome \t\t\t')
print('\t\tTicket Booking\t\t')
members= int (input ('Members Count : '))
print(' Do You Want Popcorn...? 50rs/Popcorn')
snacks = str(input('Snakcs ... Yes or NO ... :  '))

if (snacks =='Yes' or snacks == 'YES' or snacks == 'yes'):
    pc = int (input ('Popcorn Count : '))
    b = (members * 150) + (pc * 50)
    print("Ticket With Popcorn price : ", b)
    print('\nDetails : ')
    print("(",members," x 150) + ","(",pc," x 50) = ", b)
    print('\nDo You Want Parking ...?' )
    Parking = str(input('Parking ... Yes or NO ... :  '))
    if (Parking =='Yes' or Parking == 'YES' or Parking == 'yes'):
        vehicle = str(input('\nBike = 25/rs or Car = 50/rs : ' ))
        if (vehicle == 'Bike' or vehicle == 'bike' or vehicle == 'BIKE'):
            print('\nTicket With Parking :',b+25)
            print('Thank You')
        else:
            print('\nTicket With Parking :',b+50)
            print('Thank You')

    else:
        print('Thank You')
else:
    a = (members * 150)
    print("Ticket price : ",a)
    print('\nDetails : ')
    print("(",members," x 150) = ",a)
    print('\nDo You Want Parking ...?' )
    Parking = str(input('Parking ... Yes or NO ... :  '))
    if (Parking =='Yes' or Parking == 'YES' or Parking == 'yes'):
        vehicle = str(input('\nBike = 25/rs or Car = 50/rs : ' ))
        if (vehicle == 'Bike' or vehicle == 'bike' or vehicle == 'BIKE'):
            print('\nTicket With Parking : ',a+25)
            print('Thank You')
        elif(vehicle == 'Car' or vehicle == 'car' or vehicle == 'CAR'):
            print('\nTicket With Parking :',a+50)
            print('Thank You')
        else:
            print('choose properly and try again')
    else:
        print('Thank You')

			 Welcome
		Ticket Booking
Members Count : 3
 Do You Want Popcorn...? 50rs/Popcorn
Snakcs ... Yes or NO ... :  yes
Popcorn Count : 3
Ticket With Popcorn price :  600

Details :
( 3  x 150) +  ( 3  x 50) =  600

Do You Want Parking ...?
Parking ... Yes or NO ... :  yes

Bike = 25/rs or Car = 50/rs : bike

Ticket With Parking : 625
Thank You