In [ ]:
# 1 . area of circle
pi=3.14
r=int(input('Give a number :'))
area=pi*r*r
print('area of the circle is',area)

Giva a number :10
area of the circle is 314.0

In [ ]:
# 2 . area of the rectangle
l=int(input('Give L :'))
b=int(input('Give B :'))
area=l*b
print('area of the rectangle is',area)

Give L :5
Give B :6
area of the rectangle is 30

In [ ]:
# 3 . area of the triangle
b=int(input('Give B :'))
h=int(input('Give H :'))
area=1/2*b*h
print('area of the triangle', area)

Give B :4
Give H :6
area of the triangle 12.0

In [ ]:
# 4 . Arithmetic Operators of 2 Numbers
a=int(input('Give A :'))
b=int(input('Give B :'))
#Addition
c=a+b
print('addition is',c)
#subtraction
d=a-b
print('subtraction is',d)
#multiplication
e=a*b
print('multiplcation is',e)
#division
f=a/b
print('division is',f)
#floor division
g=a//b
print('floor division is',g)
#module
h=a%b
print('module is',h)

Give A :10
Give B :5
addition is 15
subtraction is 5
multiplcation is 50
division is 2.0
floor division is 2
module is 0

In [ ]:
# 5 . print the table for the given number and for the given range

num= int(input("ending value: "))
a= int(input("table value: "))
for i in range (1,num,1):
    print(i,'x',a,'=', i*a)

ending value: 20
table value: 9
1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90
11 x 9 = 99
12 x 9 = 108
13 x 9 = 117
14 x 9 = 126
15 x 9 = 135
16 x 9 = 144
17 x 9 = 153
18 x 9 = 162
19 x 9 = 171

In [ ]:
# 6 . print the table for the given starting and ending number and for the given table
a= int(input("starting value: "))
b= int(input("ending value: "))
c= int(input("table value: "))
for i in range (a,b,1):
    print(i,'x',c,'=', i*c)

starting value: 5
ending value: 10
table value: 5
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45

In [ ]:
# 7 . Disply the cube of the number up to an integer.
a=int(input('Give a starting number: '))
b=int(input('Give a ending number: '))
for i in range (a,b):
    print('cube of the number', (i+0),'is :',i*i*i)

Give a starting number: 5
Give a ending number: 9
cube of the number 5 is : 125
cube of the number 6 is : 216
cube of the number 7 is : 343
cube of the number 8 is : 512

In [ ]:
# 8 . Display 'n' terms of natural numbers and their sum
a= int(input("ending value: "))
for i in range (0,a):
    i=i+1
    print(i)

ending value: 6
1
2
3
4
5
6

In [ ]:
# 9 . Print one month - day attendance - week order
for i in range (1,5):
    print('Week:',i)
    for j in range(1,8):
        print('Day:',j)

Week: 1
Day: 1
Day: 2
Day: 3
Day: 4
Day: 5
Day: 6
Day: 7
Week: 2
Day: 1
Day: 2
Day: 3
Day: 4
Day: 5
Day: 6
Day: 7
Week: 3
Day: 1
Day: 2
Day: 3
Day: 4
Day: 5
Day: 6
Day: 7
Week: 4
Day: 1
Day: 2
Day: 3
Day: 4
Day: 5
Day: 6
Day: 7

In [ ]:
# 10 . Print Numbers Pattern
n=int(input("Give a number : "))
for i in range (1,n+1):
    print()
    for j in range(1,i+1):
        print(j,end="")

Give a number : 10

1
12
123
1234
12345
123456
1234567
12345678
123456789
12345678910

In [ ]:
# 11 . check odd or even number for two numbers
a=int(input("input A:"))
b=int(input("input B:"))
if (a%2)==0:
    print("A is a even number")
elif (a==0):
    print("A is Zero")
else:
    print("A is a odd number")
if (b%2)==0:
    print("B is a even number")
elif (b==0):
    print("B is Zero")
else:
    print("B is a odd number")

input A:10
input B:5
A is a even number
B is a odd number

In [ ]:
# 12 . positive or negative for two numbers
a=int(input("A value="))
b=int(input("B value="))
if (a<0):
    print("A is a negative")
elif(a==0):
    print("A is a zero")
else:
    print("A is a positive")
if (b<0):
    print("B is a negative")
elif(b==0):
    print("B is a zero")
else:
    print("B is a positive")

A value=5
B value=-14
A is a positive
B is a negative

In [ ]:
# 13 . check odd or even number up to an given integer.
a=int(input("input A:"))
b=int(input("input B:"))
for i in range (a,b):
  if (i%2)==0:
    print(i," is a even number")
  elif (i==0):
    print(i," is Zero")
  else:
    print(i," is a odd number")
i+=1

input A:6
input B:9
6  is a even number
7  is a odd number
8  is a even number

In [ ]:
# 14 . cube of the number
a=int(input("A value="))
print("cube of the number is:",a*a*a)

A value=10
cube of the number is: 1000

In [ ]:
# 15 . square of the number
a=int(input("A value="))
print("square of the number is:",a*a)

A value=10
square of the number is: 100

In [ ]:
# 16 . check vowel or constant
letter=(input("Give a Letter = "))
if (letter=="a" or letter=="e" or letter=="i" or letter=="o" or letter=="u"):
    print("Letter is a vowel")
else:
    print("Letter is a constant")

Give a Letter = i
Letter is a vowel

In [ ]:
# 17 . Take student marks input and total
Tam=int(input('Give the mark 1 :- '))
Eng=int(input('Give the mark 2 :- '))
Mat=int(input('Give the mark 3 :- '))
Sci=int(input('Give the mark 4 :- '))
Soc=int(input('Give the mark 5 :- '))
print('\n')
print('            Town Hr Sec School            ')
print('\n')
print('            MARK SHEET            ')
Name=input('Give the Student name:- ')
print('Class :- 10 ')
print('Tamil\t- ',Tam)
print('English\t- ',Eng)
print('Maths\t- ',Mat)
print('Science\t- ',Sci)
print('Social\t- ',Soc)
print('---------------------------------')
tot=Tam+Eng+Mat+Sci+Soc
print('Total\t- ',tot)
print('\n')
print('***Thank you***')

Give the mark 1 :- 99
Give the mark 2 :- 90
Give the mark 3 :- 89
Give the mark 4 :- 79
Give the mark 5 :- 99


            Town Hr Sec School


            MARK SHEET
Give the Student name:- Sudhan
Class :- 10
Tamil	-  99
English	-  90
Maths	-  89
Science	-  79
Social	-  99
---------------------------------
Total	-  456


***Thank you***

In [ ]:
# 18 . Bank account created
name=input('Name of the customer:')
age=int(input('age of the customer:'))
pancard=input('pancard:')
adhaar=int(input('adhaar:'))
if(age>=18):
    if(pancard != 'NO'):
        if(adhaar !=0):
            print('congrats',name,'your account has been created')
        else:
            print('sorry, need adhaar')
    else:
        print('sorry need PAN')
else:
    print('you are under age')

Name of the customer:Sudhan
age of the customer:28
pancard:Fe32567
adhaar:212437434776478
congrats Sudhan your account has been created

In [ ]:
# 19 . Maximum of three numbers
x=int(input("Give the Num X "))
y=int(input("Give the Num Y "))
z=int(input("Give the Num Z "))
if (x>y and x>z):
    print(x, "is a big number.")
elif (y>x and y>z):
    print(y, "is a big number.")
else:
    print(z, "is a big number.")

Give the Num X 34
Give the Num Y 32
Give the Num Z 45
45 is a big number.

In [ ]:
# 20 . The Armstrong number from 1 to 1000
start=1
end=1000
for num in range(start,end + 1):
    sum=0
    temp=num

    while(temp>0):
        digit=temp % 10
        sum += digit ** 3
        temp//=10

    if(num==sum):
        print(num)

1
153
370
371
407

In [ ]:
# 21 . To check whether the number is prime or not
num=int(input("Give the Num: "))
for i in range(2,num):
        if (num%i)==0:
            print("It's a non-prime Number")
            break
else:
    print("It's a prime Number")

Give the Num: 29
It's a prime Number

In [ ]:
# 22 . Kilo metre to miles
km=int(input('Give the kilo metre : '))
miles=km*0.621
print(miles, " miles")

Give the kilo metre : 9
5.589  miles

In [ ]:
# 23 . TO print fibonacci Series
num=int(input("Give the Num "))
n1,n2=0,1
print("fibonacci Series : ",n1,n2,end=" ")
for i in range (2,num):
    n3=n1+n2
    n1=n2
    n2=n3
    print(n3, end=" ")

Give the Num 7
fibonacci Series :  0 1 1 2 3 5 8

In [ ]:
# 24 . set methods

s1={12,23,34,56,45,67,43,23,56,74,93,46}

print(s1)

print("Length of list:-")
print(len(s1))
print("Max of list:-")
print(max(s1))
print("Min of list:-")
print(min(s1))

s2=s1 #(copy method)
s3=s1.copy() #(copy method)
print("s2 list:-")
print(s2)
print("s3 list:-")
print(s3)

print("clear list s3:-")
s3.clear()
print(s3)

print("(add 101) list s2:-")
s2.add(101)
print(s2)

print("(add 23) list s3:-")
s3.add(23)
print(s3)
print(s1)

print("(Discard 101) list s2:-")
s2.discard(101)
print(s2)

print("(Remove 34) list s1:-")
s1.remove(34)
print(s1)

print("pop list s1:-")
s1.pop()
print(s1)

{34, 67, 74, 43, 12, 45, 46, 23, 56, 93}
Length of list:-
10
Max of list:-
93
Min of list:-
12
s2 list:-
{34, 67, 74, 43, 12, 45, 46, 23, 56, 93}
s3 list:-
{34, 67, 74, 43, 12, 45, 46, 23, 56, 93}
clear list s3:-
set()
(add 101) list s2:-
{34, 67, 101, 74, 43, 12, 45, 46, 23, 56, 93}
(add 23) list s3:-
{23}
{34, 67, 101, 74, 43, 12, 45, 46, 23, 56, 93}
(Discard 101) list s2:-
{34, 67, 74, 43, 12, 45, 46, 23, 56, 93}
(Remove 34) list s1:-
{67, 74, 43, 12, 45, 46, 23, 56, 93}
pop list s1:-
{74, 43, 12, 45, 46, 23, 56, 93}

In [ ]:
# 25 . List
n=int(input('Give the list number:- '))
l1=[]
for i in range(0,n):
    num=int(input('Elements added:'))
    l1.append(num)


print("Insert 1000 @ 4th position:-")
l1.insert(3 ,1000)
print(l1)

print("Insert 2 new items @ end:-")
l1.append(33)
l1.append(44)
print(l1)

print("Create another list:-")
l2=l1.copy( )
print("print l1 is \n",l1)
print("print l2 is \n",l2)

print("Bring out the last element:-")
l1.pop( )
print(l1)

print("Delete the 33 element:-")
l1.remove(33)
print(l1)

print("Delete the 3th element:-")
l1.pop(3)
print(l1)

print("Reverse order:-")
l1.reverse( )
print(l1)

print("Re arrange order:-")
l1.sort( )
print(l1)

print("Delete element of the second list:-")
l2.clear( )
print(l2)

Give the list number:- 5
Elements added:54
Elements added:43
Elements added:44
Elements added:32
Elements added:67
Insert 1000 @ 4th position:-
[54, 43, 44, 1000, 32, 67]
Insert 2 new items @ end:-
[54, 43, 44, 1000, 32, 67, 33, 44]
Create another list:-
print l1 is
 [54, 43, 44, 1000, 32, 67, 33, 44]
print l2 is
 [54, 43, 44, 1000, 32, 67, 33, 44]
Bring out the last element:-
[54, 43, 44, 1000, 32, 67, 33]
Delete the 33 element:-
[54, 43, 44, 1000, 32, 67]
Delete the 3th element:-
[54, 43, 44, 32, 67]
Reverse order:-
[67, 32, 44, 43, 54]
Re arrange order:-
[32, 43, 44, 54, 67]
Delete element of the second list:-
[]

In [ ]:
# 26 . Swap two numbers
N1=int(input('Give a N1 : ') )
N2=int(input('Give a N2 : ') )
N1, N2 = N2, N1
print('N1 is',  N1)
print('N2 is',  N2)

Give a N1 : 23
Give a N2 : 13
N1 is 13
N2 is 23

In [ ]:
# 27 . Reverse a string
String_input=str(input('Give a string : '))
Reversed_string=String_input [::-1]
print(Reversed_string)

Give a string : HAI
IAH

In [ ]:
# 28 . String palindrome
String_input = str(input('Give a string (Full Caps or small) : '))
Reversed_string = String_input[::-1]
String_palindrome = String_input == Reversed_string
print(String_palindrome)

Give a string (Full Caps or small) : MADAM
True

In [ ]:
# 29 . Current Time Calculate
from datetime import datetime
time = datetime.now().time()
print("Current Time =", time)

Current Time = 09:07:00.070949

In [ ]:
# 30 . Age Calculator
from datetime import datetime
Date=int(input('Give a Date : ') )
Month=int(input('Give a Month : ') )
Year=int(input('Give a Year : ') )
Dob = datetime(Year,Month,Date)
Today=datetime.now()
Days=Today-Dob
Years = Days.days//365
print("Your age is",Years, "Years")

Give a Date : 14
Give a Month : 06
Give a Year : 1995
Your age is 28 Years

In [ ]:
# 31 . Number palindrome
num = int(input("Enter a number: "))
temp = num
reverse = 0
while temp > 0:
    remainder = temp % 10
    reverse = (reverse * 10) + remainder
    temp = temp // 10
if num == reverse:
  print('Palindrome')
else:
  print("Not Palindrome")

Enter a number: 3214
Not Palindrome

In [ ]:
# 32 . Def. Maximum of two numbers
def maximum(a, b):
    if a >= b:
        return a
    else:
        return b

a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
print(maximum (a,b))

Enter a number: 13
Enter a number: 26
26

In [ ]:
# 33 . Def. Minimum of two numbers
def minimum(a, b):

    if a <= b:
        return a
    else:
        return b

a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
print(minimum(a, b))

Enter a number: 13
Enter a number: 26
13

In [ ]:
# 34 . Def. Maximum of three numbers
def maximum(a, b, c):

    if (a >= b) and (a >= c):
        return a

    elif (b >= a) and (b >= c):
        return b
    else:
        return c

a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
c = int(input("Enter a number: "))
print(maximum(a, b, c))

Enter a number: 13
Enter a number: 26
Enter a number: 39
39

In [ ]:
# 35 . Def. Minimum of three numbers
def minimum(a, b, c):

    if (a <= b) and (a <= c):
        return a

    elif (b <= a) and (b <= c):
        return b
    else:
        return c

a = int(input("Enter a number: "))
b = int(input("Enter a number: "))
c = int(input("Enter a number: "))
print(minimum(a, b, c))

Enter a number: 13
Enter a number: 26
Enter a number: 39
13

In [ ]:
# 36 . Def. SI
def si (p,n,r):
    si = (p*n*r)/100
    print(si)
p = int(input("Enter a P : "))
n = int(input("Enter a N : "))
r = int(input("Enter a R : "))
si(p,n,r)

Enter a P : 100
Enter a N : 100
Enter a R : 25
2500.0

In [ ]:
# 37 . Def. Area Of Circle
def aoc (r,pi=3.14):
    aoc=(pi*r*r)
    print(aoc)
r = int(input("Enter a R : "))
aoc(r)

Enter a R : 5
78.5

In [ ]:
# 38 . 3X^2 + 2Y - Z
x = int(input('Givve the X value '))
y = int(input('Give the Y value '))
z = int(input('Givve the Z value '))
s=(3*(x**2))+(2*y)-z
print(s)

Givve the X value 25
Give the Y value 25
Givve the Z value 10
1915

In [ ]:
# 39 . Def 3X^2 + 2Y + Z
def a (x,y,z):
  a = ((3* (x**2)) + (2*y) + z)
  print(a)
x = int(input('Givve the X value '))
y = int(input('Give the Y value '))
z = int(input('Givve the Z value '))
a (x,y,z)

Givve the X value 100
Give the Y value 100
Givve the Z value 25
30225

In [ ]:
# 40 . Def Arithmatic Operators
def add(a,b):
    c=a+b
    print('Adding result',c)
def sub(a,b):
    c=a-b
    print('Subtrcting result',c)
def mul(a,b):
    c=a*b
    print('Multipling result',c)
def div(a,b):
    c=a/b
    print('Dividing result',c)
a = int(input('Give the A value '))
b = int(input('Givve the B value '))
add(a,b)
sub(a,b)
mul(a,b)
div(a,b)

Give the A value 20
Givve the B value 10
Adding result 30
Subtrcting result 10
Multipling result 200
Dividing result 2.0

In [ ]:
# 41 . Def Arithmatic Operators with Choice
i=int(input('Give the first value '))
j=int(input('Give the second value '))

s=input('Do you want to continue...? yes or no')
while(s=='yes' or s=='Yes'):

    print('\t\t\t Arithmatic Operaitions \t\t\t')
    print('\t\t\t 1.Add \t\t\t')
    print('\t\t\t 2.Sub \t\t\t')
    print('\t\t\t 3.Mul \t\t\t')
    print('\t\t\t 4.Div \t\t\t')
    print('\t\t\t Others.Exit \t\t\t')
    cho=int(input('Give the Choice '))
    if (cho==1):
        print("Add : ",(i+j))
    elif (cho==2):
       print("Sub = ",(i-j))
    elif (cho==3):
        print("Mul = ",(i*j))
    elif (cho==4):
        print("Div = ",(i/j))
    else:
        print('Thank you')
        break
else:
  print('Thank You')

Give the first value 10
Give the second value 14
Do you want to continue...? yes or noyes
			 Arithmatic Operaitions
			 1.Add
			 2.Sub
			 3.Mul
			 4.Div
			 Others.Exit
Give the Choice 1
Add :  24
			 Arithmatic Operaitions
			 1.Add
			 2.Sub
			 3.Mul
			 4.Div
			 Others.Exit
Give the Choice 5
Thank you

In [ ]:
# 42 .  Mr.vinay is a class teacher of class 12. he wants to conduct the test for their students on 5 subjects.
#       Grade will be decided according to the marks."""


print('    Town Hr. Sec. School     ')
print('        Kumbakonam        ')
print('       Thanjavur(Dt)\n\n\n        ')


print('   Grade Sheet     ')
Name = input('Name of the student :- ' )
print('Class :- 12\n')
print('Grades :-\n')
Tamil = int(input('Tamil :- ' ))
English = int(input('English :- ' ))
Maths = int(input('Maths :- ' ))
Physics = int(input('Physics :- ' ))
Chemistry = int(input('Chemistry :- ' ))
Biology = int(input('Biology :- ' ))

Total=Tamil+English+Maths+Physics+Chemistry+Biology
print(Total)
Avg=Total/6
print("You're Grade is :- ", Avg)
if(Avg>80):
    print(Name,"You're Distinction")
elif(Avg>60):
    print(Name,"You're First Class")
elif(Avg>50):
    print(Name,"You're Second Class")
elif(Avg>40):
    print(Name,"You're Third Class")
else:
    print(Name,"You're fail. better luck next time")

    Town Hr. Sec. School
        Kumbakonam
       Thanjavur(Dt)



   Grade Sheet
Name of the student :- Sudharsan
Class :- 12

Grades :-

Tamil :- 87
English :- 88
Maths :- 89
Physics :- 91
Chemistry :- 94
Biology :- 88
537
You're Grade is :-  89.5
Sudharsan You're Distinction

In [ ]:
# 43 . Table Format
st = int(input('Give a Start Table : '))
et = int(input('Give a End Table : '))
ln = int(input('Last Num for each table : '))
table_count=st
while (table_count<=et):
  c=1
  while(c<=ln):
        print(c, ' x ',table_count, ' = ', c*table_count)
        c+=1
  table_count=table_count+1

Give a Start Table : 3
Give a End Table : 5
Last Num for each table : 5
1  x  3  =  3
2  x  3  =  6
3  x  3  =  9
4  x  3  =  12
5  x  3  =  15
1  x  4  =  4
2  x  4  =  8
3  x  4  =  12
4  x  4  =  16
5  x  4  =  20
1  x  5  =  5
2  x  5  =  10
3  x  5  =  15
4  x  5  =  20
5  x  5  =  25

In [ ]:
# 44 . Multiplication table from n'th to m'th using For Loop.
n = int(input('Start table : '))
m = int(input('End table : '))
a = int(input('Start table value : '))
b = int(input('End table value : '))
for i in range (n,(m+1),1):
    for j in range (a,(b+1),1):
        print(j, ' x ', i,' = ', i*j)

Start table : 2
End table : 5
Start table value : 3
End table value : 6
3  x  2  =  6
4  x  2  =  8
5  x  2  =  10
6  x  2  =  12
3  x  3  =  9
4  x  3  =  12
5  x  3  =  15
6  x  3  =  18
3  x  4  =  12
4  x  4  =  16
5  x  4  =  20
6  x  4  =  24
3  x  5  =  15
4  x  5  =  20
5  x  5  =  25
6  x  5  =  30

In [ ]:
# 45 .  Ms.Aruna is a non veg and she is going to attend a wedding function at Mylapore. This fest have combination of veg & non veg.
#       there are 35 items in row. though she is non veg personnal she won't prefer to take chicken items. But there is 12,17,23 and 29 items are
#       chicken items
for food in range (1,36,1):
    if(food==12):
        print('This is chicken item')
        continue
    if(food==17):
        print('This is chicken item')
        continue
    if(food==23):
        print('This is chicken item')
        continue
    if(food==29):
        print('This is chicken item')
        continue
    food="Suitable food"
    print(food)

Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
This is chicken item
Suitable food
Suitable food
Suitable food
Suitable food
This is chicken item
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
This is chicken item
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
This is chicken item
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food
Suitable food

In [ ]:
# 46 . Implement tuple operations.
tup=(12,45,34,333,'sudhan',32,67,45,23,67,12,55,67,37)
print('Index tup[5] : ',tup[5])
print('Index tup[8] : ',tup[8])
print('Total numbel of elements in tuple',len(tup))
print('Index of word sudhan is',tup.index('sudhan'))
print('Conut of element 67 is',tup.count(67))

Index tup[5] :  32
Index tup[8] :  23
Total numbel of elements in tuple 14
Index of word sudhan is 4
Conut of element 67 is 3

In [ ]:
    """ Calc. area of diff. shapes using functions """
# 47 . No parameter No return type
def add():
    a=int(input('a value '))
    b=int(input('b value '))
    c=a+b
    print('the addition is ',c)
#main process
add()

a value 5
b value 7
the addition is  12

In [ ]:
# 48 . No parameter with return type
def sub():
    x=int(input('x value '))
    y=int(input('y value '))
    z=x-y
    return(z)
#main process
s= sub()
print('the value of subtraction is', s)

x value 5
y value 7
the value of subtraction is -2

In [ ]:
# 49 . Parameter and No return type
def mul(i,j):
    k= i*j
    print('the multiplication is ',k)
#main process
a=int(input('a value '))
b=int(input('b value '))
mul(a,b)

a value 6
b value 7
the multiplication is  42

In [ ]:
# 50 . Parameter with return type
def div(i,j):
    k=i/j
    return(k)
#main process
a=int(input('a value '))
b=int(input('b value '))
c=div(a,b)
print('the division is',c)

a value 10
b value 20
the division is 0.5